
<div class="main">
  <div class="flexbox-row">
    <div class="flexbox-column image-box">
      <p class="chart-title">Request charting based on 'sort' query parameter</p>
      <img [src]="sortChartImage"/>
    </div>

    <div class="flexbox-column image-box">
      <p class="chart-title">Request charting based on 'order' query parameter</p>
      <img [src]="orderChartImage"/>
    </div>

    <div class="flexbox-column image-box">
      <p class="chart-title">Request charting based on 'filter' query parameter</p>
      <img [src]="filterChartImage"/>
    </div>
  </div>
</div>
