<nav class="bg-gray-800">
  <div class="mx-3 max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="hidden h-8 w-auto lg:block"
               src="assets/logo.png"
               alt="Your Company">
        </div>
        <div class="hidden sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a routerLink="/home"
               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
            <a routerLink="/data-view"
               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blockchains</a>
            <a routerLink="/chart"
               class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Charts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
