<div class="flex flex-row gap-3 px-1 filter">
  <!--  Category-->
  <div (click)="categoryAscending" class="flex justify-center items-center bg-cyan-200 rounded pr-1">
    <div
      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
      Category
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
    </svg>
  </div>
  <div class="relative">
    <div (click)="toggleCategory() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{selectedCategory}}
      </div>
      <div>
        <svg *ngIf="!showCategories" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
        </svg>
        <svg *ngIf="showCategories" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
        </svg>
      </div>
    </div>
    <div *ngIf="showCategories"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="selectCategory(category)" *ngFor="let category of categories"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ category }}
      </div>
    </div>
  </div>
  <!--  Transaction count-->
  <div class="flex justify-center items-center bg-cyan-200 rounded pr-1">
    <div
      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
      Transaction Count
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
    </svg>
  </div>
  <div class="relative">
    <div (click)="toggleTrCount() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{selectedTrCount}}
      </div>
      <div>
        <svg *ngIf="!showTrCount" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
        </svg>
        <svg *ngIf="showTrCount" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
        </svg>
      </div>
    </div>
    <div *ngIf="showTrCount"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="selectTrCount(trCount)" *ngFor="let trCount of transactionCounts"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ trCount }}
      </div>
    </div>
  </div>
  <!--  Power Consumption-->

  <div class="flex justify-center items-center bg-cyan-200 rounded pr-1">
    <div
      (click)="togglePowerConsumptionSorting()"
      class="relative text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
      Power Consumption
    </div>
    <div>
      <svg *ngIf="!showPowerConsumptionSorter" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
      </svg>
      <svg *ngIf="showPowerConsumptionSorter" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
      </svg>
    </div>
    <div *ngIf="showPowerConsumptionSorter"
         class="absolute w-fit py-1 border border-5 border-neutral-200 rounded-md cursor-pointer z-50 text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
      <div (click)="selectPowerConsumptionSorting(powerConsumptionSorting)" *ngFor="let powerConsumptionSorting of powerConsumptionsSorting"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ powerConsumptionSorting }}
      </div>
    </div>
  </div>

  <div class="relative">
    <div (click)="togglePowerConsumption() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{selectedPowerConsumption}}
      </div>
      <div>
        <svg *ngIf="!showPowerConsumption" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
        </svg>
        <svg *ngIf="showPowerConsumption" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
        </svg>
      </div>
    </div>
    <div *ngIf="showPowerConsumption"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="selectPowerConsumption(powerConsumption)" *ngFor="let powerConsumption of powerConsumptions"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ powerConsumption }}
      </div>
    </div>
  </div>
  <!--  Price / Transaction-->
  <div class="flex justify-center items-center bg-cyan-200 rounded pr-1">
    <div
      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
      Price / Transaction
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
    </svg>
  </div>
  <div class="relative">
    <div (click)="togglePricePerTr() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{selectedPricePerTr}}
      </div>
      <div>
        <svg *ngIf="!showPricePerTr" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
        </svg>
        <svg *ngIf="showPricePerTr" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
        </svg>
      </div>
    </div>
    <div *ngIf="showPricePerTr"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="selectPricePerTr(pricePerTr)" *ngFor="let pricePerTr of pricePerTrs"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ pricePerTr }}
      </div>
    </div>
  </div>
  <!--  Market Cap-->
  <div class="flex justify-center items-center bg-cyan-200 rounded pr-1">
    <div
      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
      Market Cap
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
    </svg>
  </div>
  <div class="relative">
    <div (click)="toggleMarketCap() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{selectedMarketCap}}
      </div>
      <div>
        <svg *ngIf="!showMarketCap" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
        </svg>
        <svg *ngIf="showMarketCap" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
        </svg>
      </div>
    </div>
    <div *ngIf="showMarketCap"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="selectMarketCap(marketCap)" *ngFor="let marketCap of marketCaps"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ marketCap }}
      </div>
    </div>
  </div>
  <button (click)="updateBlockchainList()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Apply Filters
  </button>
</div>
