<div class="flex flex-row gap-3 px-1 filter">
  <!--  Category-->
  <div class="relativ flex justify-center items-center bg-red-200 rounded ">
    <div
      (click)="this.filterService.toggleCategorySorter()"
      class="flex text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-red-900 bg-red-200 uppercase last:mr-0 mr-1">
      Category
    </div>
    <div>
      <svg *ngIf="!this.filterService.showCategoriesSorter" class="h-4 w-4" fill="none"
           stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg *ngIf="this.filterService.showCategoriesSorter" class="h-4 w-4" fill="none"
           stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 9l-7 9-7-7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div *ngIf="this.filterService.showCategoriesSorter"
         class="absolute w-fit mt-32 py-1 border border-5 border-neutral-200 rounded-md cursor-pointer z-50 text-red-900 bg-red-200 uppercase ">
      <div (click)="this.filterService.selectCategorySorter(category)"
           *ngFor="let category of this.filterService.sorterCategory"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ category }}
      </div>
    </div>
  </div>
  <div class="relative">
    <div (click)="this.filterService.toggleCategory() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{this.filterService.selectedCategory}}
      </div>
      <div>
        <svg *ngIf="!this.filterService.showCategories" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg *ngIf="this.filterService.showCategories" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div *ngIf="this.filterService.showCategories"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="this.filterService.selectCategory(category)" *ngFor="let category of this.filterService.categories"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ category }}
      </div>
    </div>
  </div>
  <!--  Transaction count-->
  <div class="relative flex justify-center items-center bg-red-200 rounded ">
    <div
      (click)="this.filterService.toggleTrSorter()"
      class="flex text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-red-900 bg-red-200 uppercase last:mr-0 mr-1">
      Transaction count
    </div>
    <div>
      <svg *ngIf="!this.filterService.showTrSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg *ngIf="this.filterService.showTrSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 9l-7 9-7-7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div *ngIf="this.filterService.showTrSorter"
         class="absolute w-fit mt-32 py-1 border border-5 border-neutral-200 rounded-md cursor-pointer z-50 text-red-900 bg-red-200 uppercase ">
      <div (click)="this.filterService.selectTrSorter(trSorter)"
           *ngFor="let trSorter of this.filterService.sorterCategory"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ trSorter }}
      </div>
    </div>
  </div>
  <div class="relative">
    <div (click)="this.filterService.toggleTrCount() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{this.filterService.selectedTrCount}}
      </div>
      <div>
        <svg *ngIf="!this.filterService.showTrCount" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg *ngIf="this.filterService.showTrCount" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div *ngIf="this.filterService.showTrCount"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="this.filterService.selectTrCount(trCount)"
           *ngFor="let trCount of this.filterService.transactionCounts"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ trCount }}
      </div>
    </div>
  </div>
  <!--  Power Consumption-->
  <div class="relativ flex justify-center items-center bg-red-200 rounded ">
    <div
      (click)="this.filterService.togglePowerSorter()"
      class="flex text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-red-900 bg-red-200 uppercase last:mr-0 mr-1">
      Power Consumption
    </div>
    <div>
      <svg *ngIf="!this.filterService.showPowerSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg *ngIf="this.filterService.showPowerSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 9l-7 9-7-7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div *ngIf="this.filterService.showPowerSorter"
         class="absolute w-fit mt-32 py-1 border border-5 border-neutral-200 rounded-md cursor-pointer z-50 text-red-900 bg-red-200 uppercase ">
      <div (click)="this.filterService.selectPowerSorter(powerConsumptionSorting)"
           *ngFor="let powerConsumptionSorting of this.filterService.sorterCategory"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ powerConsumptionSorting }}
      </div>
    </div>
  </div>
  <div class="relative">
    <div (click)="this.filterService.togglePowerConsumption() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{this.filterService.selectedPowerConsumption}}
      </div>
      <div>
        <svg *ngIf="!this.filterService.showPowerConsumption" class="h-4 w-4" fill="none"
             stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg *ngIf="this.filterService.showPowerConsumption" class="h-4 w-4" fill="none"
             stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div *ngIf="this.filterService.showPowerConsumption"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="this.filterService.selectPowerConsumption(powerConsumption)"
           *ngFor="let powerConsumption of this.filterService.powerConsumptions"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ powerConsumption }}
      </div>
    </div>
  </div>
  <!--  Price / Transaction-->
  <div class="relativ flex justify-center items-center bg-red-200 rounded ">
    <div
      (click)="this.filterService.togglePriceSorter()"
      class="flex text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-red-900 bg-red-200 uppercase last:mr-0 mr-1">
      Price Transaction
    </div>
    <div>
      <svg *ngIf="!this.filterService.showPriceSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg *ngIf="this.filterService.showPriceSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 9l-7 9-7-7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div *ngIf="this.filterService.showPriceSorter"
         class="absolute w-fit mt-32 py-1 border border-5 border-neutral-200 rounded-md cursor-pointer z-50 text-red-900 bg-red-200 uppercase ">
      <div (click)="this.filterService.selectPriceSorter(price)" *ngFor="let price of this.filterService.sorterCategory"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ price }}
      </div>
    </div>
  </div>
  <div class="relative">
    <div (click)="this.filterService.togglePricePerTr() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{this.filterService.selectedPricePerTr}}
      </div>
      <div>
        <svg *ngIf="!this.filterService.showPricePerTr" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg *ngIf="this.filterService.showPricePerTr" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div *ngIf="this.filterService.showPricePerTr"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="this.filterService.selectPricePerTr(pricePerTr)"
           *ngFor="let pricePerTr of this.filterService.pricePerTrs"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ pricePerTr }}
      </div>
    </div>
  </div>
  <!--  Market Cap-->
  <div class="relativ flex justify-center items-center bg-red-200 rounded ">
    <div
      (click)="this.filterService.toggleMarketSorter()"
      class="flex text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-red-900 bg-red-200 uppercase last:mr-0 mr-1">
      Market Cap
    </div>
    <div>
      <svg *ngIf="!this.filterService.showMarketSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg *ngIf="this.filterService.showMarketSorter" class="h-4 w-4" fill="none" stroke="#881337"
           stroke-width="2"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 9l-7 9-7-7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div *ngIf="this.filterService.showMarketSorter"
         class="absolute w-fit mt-32 py-1 border border-5 border-neutral-200 rounded-md cursor-pointer z-50 text-red-900 bg-red-200 uppercase ">
      <div (click)="this.filterService.selectMarketSorter(market)"
           *ngFor="let market of this.filterService.sorterCategory"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ market }}
      </div>
    </div>
  </div>
  <div class="relative">
    <div (click)="this.filterService.toggleMarketCap() "
         class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md
         flex justify-center items-center cursor-pointer bg-gray-200">
      <div class="mr-2">
        {{this.filterService.selectedMarketCap}}
      </div>
      <div>
        <svg *ngIf="!this.filterService.showMarketCap" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg *ngIf="this.filterService.showMarketCap" class="h-4 w-4" fill="none" stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div *ngIf="this.filterService.showMarketCap"
         class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer z-50 bg-gray-200">
      <div (click)="this.filterService.selectMarketCap(marketCap)"
           *ngFor="let marketCap of this.filterService.marketCaps"
           class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ marketCap }}
      </div>
    </div>
  </div>
  <button (click)="this.filterService.updateBlockchainList(this.filterService.selectedCategory,this.filterService.selectedTrCount,this.filterService.selectedPowerConsumption,this.filterService.selectedPricePerTr,this.filterService.selectedMarketCap, this.filterService.selectedCategorySorter,this.filterService.selectedTrSorter, this.filterService.selectedPowerConsumptionSorter,this.filterService.selectedPriceSorter,this.filterService.selectedMarketSorter)"
          class="bg-red-300 hover:bg-red-400 text-white font-bold py-2 px-4 rounded">
    Apply Filters
  </button>
</div>
